.grid-encuestaList{
    display: grid;
    gap: 10px;
}   
.grid-encuestaList-item{
    display: grid;
    transition: all 0.5s;
    animation: bounceInLeft 1.5s;
}
.grid-encuestaList-item:hover{
    transform: scale(1.2);
    background-color: lightgreen;
}
.grid-encuestaList-item .grid-listItems{
    grid-template-columns: 3fr auto auto auto;
}
.containReg{
    border: 2px solid black;
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    animation: bounceInLeft 2s;
}

h2{
    animation: bounceInLeft 1s;
}
@media (max-width: 600px){
    h2{
        font-size: medium;
    }
    p{
        font-size: small;
    }
    .botones img{
        width: 20px;
    }
}