.imagen{
    width: $navImgWidth;
    background-color: rgb(107, 34, 176);
    border-radius: 25%;
}
header{
    nav{
        div{
            a{
                text-decoration: none; 
                color:black;
            }
            a:hover{
                color:black;
            }
        }
    }
    background-color: map-get($colores,colorPrincipal);
    .logo{
        @extend .imagen;
        // width: 60px;
        animation: bounce 1s linear 1s;  
    }
    .navImgs{
        @extend .imagen;
        // width: $navImgWidth;
        margin: 0.5rem;
    }
    @media (min-width: $anchoMinimoAnimaciones) {
        .navImgs{
            transition: transform $hoverGrowthTime;
        }
        .navImgs:hover{
            transform: scale(1.3);
        }
        .navTitle{
            transition: transform $hoverGrowthTime;
        }
        .navTitle:hover{
            transform: scale(1.2);
        }
    }
}