body{
    div{
        & .cardAnim{
            @include anims(bounceInLeft, 1s, linear, 0s);
        }
        @media (min-width: $anchoMinimoAnimaciones){
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
        .card{
            span{
                border: 1px solid map-get($colores,colorPrincipal);
            }
            .card-body{
                border: 1px solid map-get($colores,colorPrincipal);
                margin: 0px;
                form{
                    .card-header{
                        border: 1px solid lightgray;
                    }
                    div{
                        border: none;
                        margin-bottom: 16px;
                    }
                    .card{
                        border: 1px solid lightgray;
                        .card-header{
                            border: 1px solid lightgray;
                        }
                    }
                }
            }
        }
    }
}