@mixin anims ($anim, $time, $type) {
    animation: $anim $time $type;
}
body{
    .animH2{
        @include anims(bounceInLeft, 1.5s, linear);
        // animation: bounceInLeft 1.5s linear;
    }
    .animH3{
        @include anims(bounceInLeft, 2.5s, linear);
        // animation: bounceInLeft 2.5s linear;
    }
    div{
        & .cardAnim{
            @include anims(bounceInLeft, 1s, linear);
            // animation: bounceInLeft 1s;
        }
        @media (min-width: $anchoMinimoAnimaciones){
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
        div{
            span{
                border: 1px solid map-get($colores,colorPrincipal);
            }
            div{
                border: 1px solid map-get($colores,colorPrincipal);
                margin: 0px;
                form{
                    border: none;
                    div{
                        border: none;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}