body {
  /* TRANSICIONES */
}
body .contactAnim {
  -webkit-animation: bounceInRight 1s linear 0s;
          animation: bounceInRight 1s linear 0s;
}
body .tableAnim {
  -webkit-animation: bounceInUp 0.8s ease-out 0s;
          animation: bounceInUp 0.8s ease-out 0s;
}
body .encuestaAnim {
  -webkit-animation: fadeInUp 0.8s ease-out 0s;
          animation: fadeInUp 0.8s ease-out 0s;
}
body .animH2 {
  -webkit-animation: bounceInLeft 1.5s linear 0s;
          animation: bounceInLeft 1.5s linear 0s;
}
body .animH3 {
  -webkit-animation: bounceInLeft 2.5s linear 0s;
          animation: bounceInLeft 2.5s linear 0s;
}
body .navTitle {
  transition: transform 0.5s;
}
body .navTitle:hover {
  transform: scale(1.2);
}
body .glowingAnswer {
  transition: all 0.5s;
}
body .glowingAnswer:hover {
  background-color: rgb(41, 184, 41);
}
@media (min-width: 768px) {
  body .navImgs {
    transition: transform 0.5s;
  }
  body .navImgs:hover {
    transform: scale(1.3);
  }
  body .glowingCard {
    border: none;
    transition: all 0.5s;
    -webkit-animation: bounceInLeft 1.5s linear 0s;
            animation: bounceInLeft 1.5s linear 0s;
  }
  body .glowingCard:hover {
    transform: scale(1.03);
    background-color: lightgreen;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* SCROLLBAR CSS */
.scrollbar {
  margin-left: 15px;
  float: left;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: lightgreen;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: lightgreen;
}

.card {
  border: none;
}
.card .card-header span {
  border: none;
}
.card .row {
  border: 1px solid lightgray;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .card .row {
    display: inline-block;
  }
}
.card .row div {
  border: none;
}
.card div {
  border: none;
}
.card div div {
  border: 1px solid black;
}
.card div div div {
  border: none;
}

.imagen, header .navImgs, header .logo {
  width: 50px;
}

header {
  background-color: rgb(25, 135, 84);
}
header nav div a {
  text-decoration: none;
  color: black;
}
header nav div a:hover {
  color: black;
}
header .logo {
  -webkit-animation: bounce 1s linear 1s;
          animation: bounce 1s linear 1s;
}
header .navImgs {
  margin: 0.5rem;
}
@media (min-width: 768px) {
  header .navImgs {
    transition: transform 0.5s;
  }
  header .navImgs:hover {
    transform: scale(1.3);
  }
  header .navTitle {
    transition: transform 0.5s;
  }
  header .navTitle:hover {
    transform: scale(1.2);
  }
}

body div .cardAnim {
  -webkit-animation: bounceInLeft 1s linear 0s;
          animation: bounceInLeft 1s linear 0s;
}
@media (min-width: 768px) {
  body div {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
body div .card span {
  border: 1px solid rgb(25, 135, 84);
}
body div .card .card-body {
  border: 1px solid rgb(25, 135, 84);
  margin: 0px;
}
body div .card .card-body form .card-header {
  border: 1px solid lightgray;
}
body div .card .card-body form div {
  border: none;
  margin-bottom: 16px;
}
body div .card .card-body form .card {
  border: 1px solid lightgray;
}
body div .card .card-body form .card .card-header {
  border: 1px solid lightgray;
}

html {
  min-height: 100%;
  position: relative;
}

.linksLista {
  margin-bottom: 10px;
}

footer {
  background-color: rgb(232, 232, 232);
  margin-bottom: 0px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}
footer ul {
  background-color: rgb(232, 232, 232);
  margin-bottom: 20px;
  list-style-type: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  text-decoration: none;
  color: black;
}
footer ul li a:hover {
  color: rgb(25, 135, 84);
}
footer ul p {
  background-color: rgb(232, 232, 232);
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}/*# sourceMappingURL=stilos.css.map */