//Estilos gráficos
$colores: (
    colorPrincipal: rgb(25,135,84),
    colorElementos: lightgreen,
    colorFooter: rgb(232, 232, 232)
);

$fuentePrincipal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

//Sizes
$navImgWidth: 50px;

//Animations
$hoverGrowthTime: 0.5s;

//Screen sizes
$anchoMinimoAnimaciones: 768px;
