//Estilos gráficos
$colorPrincipal: rgb(25,135,84);
$colorElementos: lightgreen;
$fuentePrincipal: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

//Sizes
$navImgWidth: 50px;

//Animations
$hoverGrowthTime: 0.5s;

//Screen sizes
$anchoMinimoAnimaciones: 768px;
